<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Simple_Blog::blog_core"
             title="Simple Blog"
             module="Simple_Blog"
             sortOrder="60"
             resource="Simple_Blog::blog_core" />

        <add id="Simple_Blog::posts"
             title="Post"
             module="Simple_Blog"
             sortOrder="10"
             parent="Simple_Blog::blog_core"
             action="simple_blog/posts"
             resource="Simple_Blog::posts" />

        <add id="Simple_Blog::comments"
             title="Comments"
             module="Simple_Blog"
             sortOrder="10"
             parent="Simple_Blog::blog_core"
             action="simple_blog/comments"
             resource="Simple_Blog::comments" />
    </menu>
</config>
