<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Simple\Blog\Api\Data\PostInterface" type="Simple\Blog\Model\Post" />
    <preference for="Simple\Blog\Api\Data\PostSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Simple\Blog\Api\PostRepositoryInterface" type="Simple\Blog\Model\PostRepository" />
    <preference for="Simple\Blog\Api\Data\CommentInterface" type="Simple\Blog\Model\Comment" />
    <preference for="Simple\Blog\Api\Data\CommentSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Simple\Blog\Api\CommentRepositoryInterface" type="Simple\Blog\Model\CommentRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="simple_blog_posts_listing_data_source" xsi:type="string">Simple\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Simple\Blog\Model\ResourceModel\Post\Grid">
        <arguments>
            <argument name="mainTable" xsi:type="string">simple_blog_post</argument>
            <argument name="eventPrefix" xsi:type="string">simple_blog_post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">simple_blog_post_event_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Simple\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </type>

    <virtualType name="BlogGridFilterPoolSimplePost" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Simple\Blog\Api\Data\PostInterface" xsi:type="string">Simple\Blog\Api\PostRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Simple\Blog\Api\Data\PostInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">simple_blog_post</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Simple\Blog\Api\Data\PostInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>



